* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #586878;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section {
    background-image: url("https://as2.ftcdn.net/v2/jpg/02/24/61/73/1000_F_224617350_ofvsYXewP09Yz5y5snCIAtLbLrfuyiud.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    aspect-ratio: 16/9;
}

section h1 {
    margin-left: 70px;
    margin-top: 130px;
    line-height: 24px;
    background: linear-gradient( #d8b060, #a88038);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

p {
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    color: #909080;
    width: 60%;
    margin: 0 auto;
    line-height: 10px;
    margin-top: 5px;
}

.btn {
    background-color: #403832;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 15%;
    border-radius: 20px;
    margin: 10px auto 0;
    cursor: pointer;
}

button {
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
}

span svg {
    width: 15px;
    height: 15px;
}